<div class="col-md-4 col-sm-6 portfolio-item">
    <a href="#{id}" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <img src="{path_image_portfolio}" class="img-responsive" alt="img {name}">
    </a>
    <div class="portfolio-caption">
        <h4>{name}</h4>
        <p class="text-muted">{description}</p>
    </div>
</div>
