header {
    background-image: url("../../img/background.jpg")
}

.intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
ul li {
    text-align: left;
}